<div class="small-12 columns">
    <div class="row" id="main-content">
        <div class="small-6 columns">
            <div class="panel radius">
                <h5>Hi.</h5>
                <p>Find all my musings, notes to myself, and anything I fancy here.  Check out the blog, some of the work I've done,
                or what I'm about.
        </div>
        <ul class="small-block-grid-3">
            <li><a target="_blank" href="https://github.com/akfreas"><%= image_tag "github-med-black.png" %></a></li>
            <li><a target="_blank" href="https://twitter.com/sashimiblade"><%= image_tag "twitter_logo_blue.png" %></a></li>
            <li><a target="_blank" href="http://stackoverflow.com/users/362853/sashimiblade"><%= image_tag "so-icon.png" %></a></li>
        </ul>

        </div>
        <div class="small-6 columns">
            <div class="panel radius">
                <h2>Recent blog posts</h2>
            </div>
            <% @posts.each do |post| %>
                <div class="panel radius">
                    <h5><a href="/blog/<%= post.url %>"><%= post.title %></a></h5>
                </div>
            <% end %>
        </div>
    </div>
</div>
