
<div class="row" >
    <div class="small-12 columns">
        <div class="row" id="main-content">

            <div class="small-2 columns">
            <ul class="about-left-icons">

                <%= image_tag "profile.jpeg", :class => "profile-image th" %>
            <li><a target="_blank" href="https://github.com/akfreas"><%= image_tag "github-med-black.png" %></a></li>
            <li><a target="_blank" href="https://twitter.com/sashimiblade"><%= image_tag "twitter_logo_blue.png" %></a></li>
            <li><a target="_blank" href="http://stackoverflow.com/users/362853/sashimiblade"><%= image_tag "so-icon.png" %></a></li>
            <li><a target="_blank" href="http://www.linkedin.com/pub/alexander-freas/1b/106/165"><%= image_tag "linkedin.png" %></a></li>
            </div>

            <div class="small-10 columns">
                <p>My name is Alex Freas, and I call Alexandria, Virginia home along with my wife, Meghan.</p>
                <p>I'm currently employed at TaxiMagic, and work on the driver app component to the TaxiMagic service,
                which allows taxi fleets to boost their ride volume and increase reliability by taking advantage of our in-house booking system provided
                through the app.</p>
                <p>In the last several years, I've become interested in (maybe obsessed with) automation in processes, and have sought to improve development
                processes by pushing the limits of continuous integration and deployment.  My interest recently has been in using <a href="http://travis-ci.org">Travis CI</a> and
                <a href="http://appium.io">Appium</a> to improve the quality of software.  I've done a few <a href="/blog">blog posts</a> on this sometimes under-documented process.</p>
                <p>I'm currently doing most of my coding in Objective-C, and though my roots started in Python and Django, I've recently moved to using Ruby and Rails.</p>
                <p>I fill the wee hours of the night working on side projects, which can be perused <a href="/work">here</a> and <a href="https://github.com/akfreas" target="new">here</a>.</p>
                <p>When I'm not in front of my computer, I'm an aspiring master chef and world traveler.</p> 
                <h4><%= link_to "View my Résumé", "assets/resume.pdf" %></h4>
            </div>
        </div>
    </div>
</div>


