
<div class="row" >
    <div class="small-12 columns">
        <div class="row" id="main-content">

            <div class="small-2 columns">
            <ul class="about-left-icons">

                <%= image_tag "profile.jpeg", :class => "profile-image th" %>
            <li><a target="_blank" href="https://github.com/akfreas"><%= image_tag "github-med-black.png" %></a></li>
            <li><a target="_blank" href="https://twitter.com/sashimiblade"><%= image_tag "twitter_logo_blue.png" %></a></li>
            <li><a target="_blank" href="http://stackoverflow.com/users/362853/sashimiblade"><%= image_tag "so-icon.png" %></a></li>
            <li><a target="_blank" href="http://www.linkedin.com/pub/alexander-freas/1b/106/165"><%= image_tag "linkedin.png" %></a></li>
            </div>

            <div class="small-10 columns">
                <p>My name is Alex Freas, and I'm currently living in Berlin, Germany with my wife, <a href="https://twitter.com/meg_nanimous">Meghan</a>.</p>
                <p>I'm currently working at <a href="http://komoot.de">Komoot</a>, churning out iOS code that helps you get lost in the woods,
                guides you to awesome spots you would have never otherwise found, and gives you turn-by-turn navigation to get you back to civilization.
                We have the #1 outdoors app in Germany, Austria, and Swizerland!  Check it out!  
                </p>
                <p>My latest tech endeavor is wrangling Swift to do what I want and laying awake at night waiting for the next Xcode beta to come out.
                My interests have also been in using <a href="http://travis-ci.org">Travis CI</a> and
                <a href="http://appium.io">Appium</a> to improve the quality of software and deployments.  I've done a few <a href="/blog">blog posts</a> on this sometimes under-documented process.</p>
                <p>I'm currently doing most of my coding in Objective-C, and though I've worked with Ruby and Rails, Python and Django still have my heart.</p>
                <p>I fill the wee hours of the night working on side projects, which can be perused <a href="/work">here</a> and <a href="https://github.com/akfreas" target="new">here</a>.</p>
                <p>If you have a project you'd like to collaborate on or just want to say hi, you can get in touch with me <a target="_blank" href="https://twitter.com/sashimiblade">on Twitter</a>
                 or at <a href="mailto:alex@sashimiblade.com">alex@sashimiblade.com</a>.
                <p>When I'm not in front of my computer, I'm an aspiring master chef and world traveler.</p> 
                <h4><a href="http://sashimiblade.com.s3.amazonaws.com/resume.pdf">View My Résumé</a></h4>
            </div>
        </div>
    </div>
</div>


