<div class="row" >
    <div class="small-12 columns">
        <div class="row" id="main-content">
            <div class="small-8 small-centered columns">
                <h3 class="work">Work Projects</h1>
            </div>
            
            <div class="small-8 small-centered columns" id="content-row">
                <div class="row">
                    <div class="small-2 columns">

                        <a href="http://komoot.de" class="th app-icon">
                            <%= image_tag "komoot-icon.png" %>
                        </a>
                    </div>
                    <div class="small-10 columns">
                        <p class="app-title">Komoot</p>
                        <p>The #1 outdoor app in Germany, Austria, and Swizerland.  Gives hikers, bikers, and runners offline maps, voice navigation,
                           photo sharing, and highlight discovery for an optimal outdoor experience.</p>
                    </div>
                </div>
            </div>
            <div class="small-8 small-centered columns" id="content-row">
                <div class="row">
                    <div class="small-2 columns">

                        <a class="th app-icon">
                            <%= image_tag "drivermagic-icon.png" %>
                        </a>
                    </div>
                    <div class="small-10 columns">
                        <p class="app-title">TaxiMagic Driver</p>
                        <p>Driver app component to the TaxiMagic rider app.  Allows drivers to increase their ride volume by accepting
                        ride requests through the app. (Lead developer)</p>
                    </div>
                </div>
            </div>
            <div class="small-8 small-centered columns" id="content-row">
                <div class="row">
                    <div class="small-2 columns">
                    <a href="https://github.com/ridecharge/spout" class="th app-icon" target="_new">
                        <%= image_tag "spout-icon.png" %>
                    </a>
                    </div>
                    <div class="small-10 columns">
                    <p class="app-title">Spout</p>
                    <p>In-house mobile app distribution system, written in Python using Django.  Create public and private pages to host
                    mobile apps for public beta testers, in-house devs and product owners.  Has an upload API to integrate easily with Jenkins
                    or Travis.  Open source, <a href="https://github.com/ridecharge/spout" target="new">available on Github.</a></p>
                    </div>
                </div>
            </div>
            <div class="small-8 small-centered columns" id="content-row">
                <div class="row">
                    <div class="small-2 columns">
                        <a href="" class="th app-icon" target="new">
                            <%= image_tag "ncaa.png" %>
                        </a>
                    </div>
                    <div class="small-10 columns">
                        <p class="app-title">NCAA Video App</a>
                    <p>Contract job. Integrated <a href="http://www.getsocialize.com/" target="new">Socialize Sharing Framework</a> into NCAA Video app, allowing users to share videos, articles, and images through the
                    Socialze platform.</p>
                    </div>
                </div>
            </div>
            <div class="small-8 small-centered columns" id="content-row">
                <div class="row">
                    <div class="small-2 columns">
                        <a href="" class="th app-icon" target="new">
                            <%= image_tag "moviepal.png" %>
                        </a>
                    </div>
                    <div class="small-10 columns">
                        <p class="app-title">MoviePal</a>
                    <p>Contract job.  Another Socialize framework integration, though much deeper and more extensive as the app was brought from a non-functional state to a functional one that was released as an update.  Allowed
                    users to share movies and just about every piece of content in the app through the Socialize platform.  Contributed to Socialize SDK a bit to improve some sharing functionality.</p>
                    </div>
                </div>
            </div>
            
            <div class="small-8 small-centered columns">
                <h3 class="work">Personal Projects</h3>
            </div>

             
            <div class="small-8 small-centered columns" id="content-row">
                <div class="row">
                    <div class="small-2 columns">
                        <a class="th app-icon" href="https://github.com/akfreas/YumList" target="new">
                        <%= image_tag "yumlist.png" %>
                        </a>
                    </div>
                    <div class="small-10 columns">
                        <p class="app-title">YumList</p>
                        <p>Link your Yummly or Pinterest boards to YumList and microblog your culinary creations!  Add notes, pictures, and more to
                        the recipes you have added on Yummly or Pinterest.  Work in progress, source available on <a href="https://github.com/akfreas/YumList">Github</a>.<br/>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="small-8 small-centered columns" id="content-row">
                <div class="row">
                    <div class="small-2 columns">
                        <a class="th app-icon" href="https://itunes.apple.com/us/app/legacyapp/id722893286?mt=8" target="new">
                            <%= image_tag "legacy-icon.png" %>
                        </a>
                    </div>
                    <div class="small-10 columns">
                        <p class="app-title">LegacyApp</p>
                        <p>Explore the timelines of prominent historical figures and view their related Wikipedia page.  Links
                        with your Facebook to explore what someone accomplished at your exact age, to the day!<br/>
                        <a href="https://itunes.apple.com/us/app/legacyapp/id722893286?mt=8" target="new">Available on iTunes</a>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="small-8 small-centered columns" id="content-row">
                <div class="row">
                    <div class="small-2 columns">
                        <a class="th app-icon" href="https://itunes.apple.com/us/app/hapto/id550387646?mt=8" target="_new">
                            <%= image_tag "hapto-icon.png" %>
                        </a>

                    </div>
                    <div class="small-10 columns">
                        <p class="app-title">Hapto</p>
                        <p>Simple vacation time calculator and tracker.  Determine how much vacation time you have available on a
                        given date, accounting for recorded vacation time.  Figure out how much time it will take to bounce back
                        from a negative PTO value.  <br/>
                        <a href="https://itunes.apple.com/us/app/hapto/id550387646?mt=8" target="_new">Available on iTunes</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

